@import url('https://fonts.googleapis.com/css?family=Kavivanar|Montserrat');

div.about-me{
    font-family: 'Montserrat', sans-serif;
}
div.about-me h4{
    font-family: 'Kavivanar', cursive;
    font-size: 20px;
}

@media only screen and (min-width: 768px) {
    
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}