@import url('https://fonts.googleapis.com/css?family=Kavivanar|Montserrat');

div.contact{
    font-family: 'Montserrat', sans-serif;
}

div.contact h4{
    font-family: 'Kavivanar', cursive;
    font-size: 20px;
}