.navbar-mobile, .navbar-mobile ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-mobile {
    display: flex;
    border-bottom: 1px solid #3a3f44;
    border-top: 1px solid #3a3f44;
    background: 
    linear-gradient(
    rgb(87, 80, 80),
    rgb(255, 255, 255) 
    );
    width: 100%;
    height: 45px;
    top: 70px;
    left: 0;
    position: fixed;
    z-index: 1;
}

.navigation-mobile {
    display: flex;
    align-items: center;
    justify-content: center!important;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
}

.add-room-mobile {
    flex: 0.5;
}

.nav-items-mobile ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.nav-items-mobile li {
    margin-right: 2px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 0.5rem;
}

.nav-items-mobile a {
    font-size: 1rem;
    font-family: 'Kavivanar', cursive;
    color: #3a3f44;
    text-decoration: none;
}

.nav-items-mobile a:hover,
.nav-items-mobile a:active {
    color:rgba(236, 165, 165, 0.9);
}


.fa-bars{
    color:white;
}

@media only screen and (min-width: 850px) {
    .navbar-mobile{
        display:none;
    }
}
