.navbar, .navbar ul {
    display: flex;
    flex-direction: row;
}

.navbar {
    display: flex;
    border-bottom: 1px solid #3a3f44;
    background: 
    linear-gradient(
    rgb(93, 94, 145), 
    rgb(87, 80, 80)
    );
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    top: 0;
}

.navigation {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
}


.icon {
    font-family: 'Kavivanar', cursive;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    font-weight: 900;
}

.add-room {
    flex: 1;
}

.add-room-half {
    flex: 0.5;
}

.navigation-items {
    display: flex;
    flex-direction: row;
}


.navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation-items li {
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 0.5rem;
}

.navigation-items a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    font-family: 'Kavivanar', cursive;
}

.navigation-items a:hover,
.navigation-items a:active {
    color:rgba(236, 165, 165, 0.9);
}


@media only screen and (max-width: 850px) {
    .navigation-items {
        display: none;
    }
}

@media only screen and (min-width: 851px) {
    .toggle-button {
        display: none;
    }
    .add-room-half {
        display: none;
    }
}
