@import url('https://fonts.googleapis.com/css?family=Kavivanar|Montserrat');

div.examples{
    font-family: 'Montserrat', sans-serif;
}

div.examples h3{
    font-family: 'Kavivanar', sans-serif;
}

div.examples h4{
    font-weight: 500;
}

div.work-example{
    
}

@media only screen and (min-width: 768px) {
    
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}