@import url('https://fonts.googleapis.com/css?family=Kavivanar|Montserrat');

div.examples{
    font-family: 'Montserrat', sans-serif;
}

div.examples h3{
    font-family: 'Kavivanar', sans-serif;
}

div.examples h4{
    font-weight: 500;
}