
@import url('https://fonts.googleapis.com/css?family=Kavivanar|Montserrat');

.onboarding-page {
    z-index: 10;
    position: relative;
}
.background-landing {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: 
        linear-gradient(
        rgba(253, 166, 140, 0.8), 
        rgba(58, 63, 68,.99)
        ),
        url("https://images.unsplash.com/photo-1491947153227-33d59da6c448?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3f475006a86934d5e483676571dde298&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 100%;
    min-height: 950px ;
}

.landing-section {
    padding-top: 20vh;
}

.head-title{
    display: flex;
    flex-direction: column;
    width:400px;
    height: 400px;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50%;
    padding:5px;
    background: 
    linear-gradient(
    rgba(125, 176, 164, .932), 
    rgba(58, 63, 68, 0.9)
    ),
    url('../code-snippet2.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.title {
    font-family: 'Kavivanar', cursive;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 0px;
} 

.sub-title {
    font-family: 'Montserrat', cursive;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projects-button {
    font-family: 'Kavivanar', cursive;
    text-decoration: none;
    width: 200px;
    padding: 15px;
    padding-top: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #2b2726;
    background: 
    linear-gradient(
    rgba(253, 166, 140), 
    rgba(58, 63, 68, 0.9)
    );
    border: none;
    border-radius: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    outline: none;
}
p{
    font-weight: 700;
}

p.about-info{
    font-family: 'Kavivanar', cursive;
    color: #2b2726;
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

/* .section-info{
    background: linear-gradient(
        rgba(255, 255, 255, 0.3), 
        rgba(58, 63, 68, 0.3)
        );
    border-radius: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
} */

p.quote{
    font-family: 'Kavivanar', cursive;
    color: #2b2726;
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
    font-weight: 800;
}

.projects-button:hover {
    cursor: pointer;
    background-color: #2b2726;
    color: rgba(125, 176, 164, .9);
}

/* Responsive */

@media only screen and (max-width: 850px) {

    /* landing responsive */

    .head-title{
        width:300px;
        height:300px;
    }

    .background-landing {
        height: 100%;
    }

    .landing-section {
        padding-top: 20vh;
    }

    .title {
        font-size: 30px;;
        text-align: center;
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
    }

    .projects-button {
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    p.quote{
        font-size: 12px;
    }

}
