.app-title{
    font-family: 'Kavivanar', cursive;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 0px;
    margin-top: 10px;
}

.app-info{
    font-family: 'Kavivanar', cursive;
    color: white;
    text-align: center;
    font-size: 18px;
    margin: 10px;
}

.move-button {
    display: block;
    width: 200px;
    padding: 10px;
    margin-top:30px;
    margin-right:40px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 5px solid white;
    border-radius: 8px;
}

.action-1-button {
    font-family: 'Kavivanar', cursive;
    text-decoration: none;
    width: 200px;
    padding: 15px;
    padding-top: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: rgba(93, 94, 145, 0.9);
    background-color: white;
    border: none;
    border-radius: 40px;
    margin-right: 40px;
    margin-top: 10px;
    outline: none;
}

.action-1-button:hover {
    cursor: pointer;
    background-color: rgba(93, 94, 145, 0.9);
    color: white;
}

.move-1:hover {
    background-color: rgba(93, 94, 145, 0.9);
    color: white;
}

.action-2-button {
    font-family: 'Kavivanar', cursive;
    text-decoration: none;
    width: 200px;
    padding: 15px;
    padding-top: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: rgba(218, 74, 74, 0.9);
    background-color: white;
    border: none;
    border-radius: 40px;
    margin-right: 40px;
    margin-top: 10px;
    outline: none;
}

.action-2-button:hover {
    cursor: pointer;
    background-color: rgba(218, 74, 74, 0.9);
    color: white;
}

.move-2:hover {
    background-color: rgba(218, 74, 74, 0.9);
    color: white;
}

.text-container {
    display: flex;
    flex-direction: row;
    width: 75vw;
    margin: auto;
    padding-top: 5vh;
}


.demo-account{
    margin-bottom: 0px;
}

/* Ingredient Inheritance */

.background-ing-inh {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: 
        linear-gradient(
        rgba(93, 94, 145, 0.9), 
        rgba(87, 80, 80, 0.6)
        ),
        url(https://lh3.googleusercontent.com/ppBjSUP4FnhU-6MHGI1tTBpokhQjxggayFkKtjS8BurRK_XEuqZAKgx-tCYQkzRNmUar38uotI4lDX7KQV118TfI-t_6ua7wItJmChauT9ccr2P5hcyU_PcOCfFyRqlyiSRGm_70=w2400);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 100vh;
    min-height: 750px;
    border-top: 1px solid #3a3f44;
}

/*Hands to Hear*/

.background-hands-to-hear {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: 
        linear-gradient(
        rgba(218, 74, 74, 0.9), 
        rgba(87, 80, 80, 0.6)
        ),
        url(https://imgur.com/l5gXEgt.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 100vh;
    min-height: 750px;
    border-top: 1px solid #3a3f44;
}


@media only screen and (max-width: 850px) {

    /* ingredient inheritance responsive */

    .background-ing-inh, .background-hands-to-hear {
        height: 100%;
    }

    .text-container {
        display: flex;
        flex-direction: column;
    }

    .about-text {
        text-align: left;
        padding: 0px;
    }

    .scroll-top-button {
        margin: auto;
        margin-bottom: 60px;
    }

    .action-1-button, .action-2-button, .move-button{
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .app-title{
        font-size: 36px;
        text-align: center;
    }



}
